* {
  text-align: center;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 50%;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50%;
}

.title {
  color: white;
  font-family: 'Comfortaa', monospace;
  font-size: 3em;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}

#gameboard-container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 10%;
    width: 60%;
}


.cell {
  display: inline;
  border: 1px solid black;
  height: 100%;
  width: 100%;
}




