* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0
}
a {
  text-decoration: none;
}
/* this master parent will alwasy be called */
#App {
  text-align: center;
  height: 100vh;
  padding: 0;
}
.title {
  color: whitesmoke;
  font-family: 'Comfortaa';
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}
/* until we figure out switching background color across app */
#login-parent, #gameboard-app, #userboards-app {
  /* background-color: rgb(224, 205, 205); */
  background-image: linear-gradient(rgb(220, 220, 220), rgb(90, 90, 90))
}

/* ==========DRAWER============= */
#top-drawer-contents, #bottom-drawer-contents {
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 8px 8px;
  background-color: rgba(255, 127, 80, 0.5);
}

/* =======================DRAWER======== */

/* =========LANDING PAGE============ */
/* parent for landing page */
#landing-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
#landing-container .title {
  position: relative;
  top: 12%;
  font-size: 4.5em;
  font-weight: normal;
}
/* child container in landing page */
#button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
}
/* =========LANDING PAGE============ */


/* ==========GAMEBOARD=============== */
#gameboard-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#gameboard-parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#gameboard-container {
  width: 90%;
  height: 50%;
  margin: 0 auto;
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}
.cell {
  display: inline-block; 
  width: 60px;
  height: 60px;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  /* filter: drop-shadow(37px 10px 4px #4444dd) */
}
#tile-preview {
  box-shadow: inset 0 0 20px 5px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}
/* ==========GAMEBOARD=============== */

/* ==============LOGIN============ */
#login-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
}
/* ==============LOGIN============ */

/* ===============USERBOARDS============ */
#userboards-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#userboards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  font-family: 'Comfortaa'
}

/* ===============USERBOARDS============ */